@model IEnumerable<WebScrapping.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-collapse collapse" style="color:aqua">
        <ul class="nav navbar-nav" style="color:red">
            <li><a asp-area="" asp-controller="Companies" asp-action="Index">Info About Company</a></li>
            <li><a asp-area="" asp-controller="Companies" asp-action="Create">Create new Company</a></li>
            <li><a asp-area="" asp-controller="Companies" asp-action="Delete">Delete Company</a></li>
            <li><a asp-area="" asp-controller="Companies" asp-action="Details">Details</a></li>
            <li><a asp-area="" asp-controller="Companies" asp-action="Edit">Edit</a></li>
            <li><a asp-area="" asp-controller="Companies" asp-action="Get">Company Names</a></li>
        </ul>
    </div>
    </nav>
    <table class="table">
        <thead style="color:green">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Industry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfEmployees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfFoundation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AboutCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebSite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobsHistory)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody >

            @foreach (var item in Model)
            {     
            <tr style="animation:alternate">
                <td>
                    <span style="color:blue;">@Html.DisplayFor(modelItem => item.Name)</span>
                </td>
                <td>
                    <span style="color:blue;">@Html.DisplayFor(modelItem => item.Industry)</span>

                </td>
                <td>
                    <span style="color:blue;">@Html.DisplayFor(modelItem => item.Type)</span>

                </td>
                <td>
                    <span style="color:blue;"> @Html.DisplayFor(modelItem => item.NumberOfEmployees)</span>
                    @*@Html.DisplayFor(modelItem => item.NumbOfEmployees)*@
                </td>
                <td>
                    <span style="color:blue;">@Html.DisplayFor(modelItem => item.DateOfFoundation)</span>
                    @*@Html.DisplayFor(modelItem => item.DataOfFoundation)*@
                </td>
                <td>
                    <span style="color:blue;">@Html.DisplayFor(modelItem => item.Adress)</span>
                    @*@Html.DisplayFor(modelItem => item.Adress)*@
                </td>
                <td>
                    <span style="color:blue;"> @Html.DisplayFor(modelItem => item.WebSite)</span>
                    @*@Html.DisplayFor(modelItem => item.WebSite)*@
                </td>
                <td>
                    <span style="color:black;"> @Html.DisplayFor(modelItem => item.AboutCompany)</span>
                    @*@Html.DisplayFor(modelItem => item.Adress)*@
                </td>
                <td>
                    <span style="color:black;"> @Html.DisplayFor(modelItem => item.JobsHistory)</span>
                    @*@Html.DisplayFor(modelItem => item.Adress)*@
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
