@model Product[]

@{

    ViewBag.Title = "Product Name";
}

<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Length; i++)
        {
            <tr>
                <td>@Model[i].Name</td>
                <td>@($"{ Model[i].Price}")</td>
            </tr>
        }
    </tbody>
</table>




@*<div data-productid="@Model.ProductID" data-stockLevel="@ViewBag.StockLevel">
    <p>Product.Name:@Model.Name</p>
    <p>Product.Price: @($"{Model.Price:C2}")</p>
    <p>
        @switch ((int)ViewBag.StockLevel)
        {
            case 0:
                @:out of Stock
                break;
            case 1:
            case 2:
            case 3:

                <b> In Stock @ViewBag.Stocklevel;</b>
                break;
            default:
                @: @ViewBag.StockLevel in Stock
                break;

        }
    </p>
</div>*@
